<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
</head>
<body>
{% for item in data %}
<form action="/api/vcard" method="POST">
    <p><b>Nazwa </b>{{ item.name }}</p>
    <p><b>Telefon </b>{{ item.telephone }}</p>
    <p><b>Email </b>{{ item.email }}</p>
    <p><b>Adres</b> {{item.fullAddress}}</p>
    <input type="hidden" name="name" id="name" value={{ item.name }}/>
    <input type="hidden" name="telephone" value={{ item.telephone }}/>
    <input type="hidden" name="email" value={{ item.email }}/>
    <input type="hidden" name="fullAddress" value={{ item.fullAddress }}/>
    <input type="submit" value="wygeneruj vCard"/>
    </br></br>
</form>
{% endfor %}
</body>
</html>